<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% elsif flash[:success] %>
  <div><%= flash[:success] %></div>
<% end %>

<h1>Edit Carrier</h1>

<%= render 'carrier_form' %>