<% if flash[:success] %>
  <div><%= flash[:success] %></div>
<% end %>

<h1>Carriers</h1>
<div class="card filter-card">
  <div class="card-header">Filters</div>
  <div class="card-body">
    <%= render partial: 'filter_form', locals: { filterrific: @filterrific } %>
  </div>
</div>
<%= render(
        partial: 'list',
        locals: { carriers: @carriers }
) %>
