<% if flash[:success] %>
  <div><%= flash[:success] %></div>
<% end %>

<h1>Carriers</h1>

<ul>
  <% @carriers.each do |carrier| %>
    <li>
      <%= link_to carrier.name, carrier %><br>
    </li>
  <% end %>
</ul>

<% content_for(:sidebar) do  %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>