<div class="modal-header">
  <h5 class="modal-title"><%= @checkin ? "Checkin Carrier" : "Edit Loan" %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= render @checkin ? 'checkin_form' : 'form' %>
