<div class="modal-header">
  <h5 class="modal-title">Edit Membership</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= render partial: "form", locals: { user: @user, membership: @membership } %>