<header class="card-header d-flex align-items-center">
  <h3>Membership History</h3>
</header>
<% if memberships.empty? %>
  <div class="p-3">No memberships found for this user.</div>
<% else %>
  <table data-toggle="table">
    <thead class="thead-light">
    <tr>
      <th>Type</th>
      <th>Effective</th>
      <th>Expiration</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% memberships.each do |membership| %>
      <tr>
        <td><%= membership.membership_type.name %></td>
        <td><%= membership.effective %></td>
        <td><%= membership.expiration %></td>
        <td><%= link_to 'Edit', edit_user_membership_path(membership.user, membership), class: 'btn btn-primary btn-sm', data: {modal: true} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
