<% if model.errors.any? %>
  <div class="alert alert-danger" id="error_explanation">
    <%= tag.h5 "#{pluralize(model.errors.count, 'error')} prohibited this #{model.model_name.human} from being saved:" %>

    <ul class="pl-1">
      <% model.errors.full_messages.each do |message| %>
        <li class="text-left"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
