<p>Dear <%= @user_name %>,</p>

<p>This is a reminder that your <%= @carrier_name %> was due back to <%= @location %> on <%= @due_date %>. Late fees may be assessed on a per-day basis.</p>

<p>Thanks,
  <br />
MidAtlantic Babywearing</p>