<p>Dear <%= @user_name %></p>

<p><%=
  "You have successfully checked out the #{@carrier_name} from Patuxent Babywearing today.
  It is due back on  #{@due_date} to the #{@location} location."
%></p>

<p></p>

<p>Please keep this email for your records.</p>

<p>Thanks,
  <br/>
  MidAtlantic Babywearing</p>
