/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
# From walkthrough: https://github.com/twbs/bootstrap-rubygem#a-ruby-on-rails
# Make sure the file has .scss extension (or .sass for Sass syntax). If you have just generated a new Rails app, it may come with a .css file instead. If this file exists, it will be served instead of Sass, so rename it:
# $ mv app/assets/stylesheets/application.css app/assets/stylesheets/application.scss
# Then, remove all the *= require and *= require_tree statements from the Sass file. Instead, use @import to import Sass files.
# Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
*/
$bw-color-purple: #a36eb9;
$bw-color-dark-purple: #7a7289;
$bw-color-slate: #84a5c6;
$bw-color-blue: #73c3fe;
$bw-color-darkest-purple: #808808;

// Custom bootstrap variables must be set or imported *before* bootstrap.
$navbar-padding-y: 0;
$navbar-brand-padding-y: 8px;

@import "bootstrap";

.navbar-brand img {
  height: 84px;
}
.nav-icon {
  height: 100px;
  width: 100px;
  font-size: 12px;
}
.nav-link {
  text-align: center;
}
.background-purple {
  background-color: $bw-color-purple;
}
.background-dark-purple {
  background-color: $bw-color-dark-purple;
}
.background-slate {
  background-color: $bw-color-slate;
}
.background-blue {
  background-color: $bw-color-blue;
}
.background-darkest-purple {
  background-color: $bw-color-darkest-purple;
}
.navbar-text .pull-right {
  position: fixed;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-first img {
  width: 6.4em;
}
.nav-second img {
  width: 5.5em;
}
.nav-third {
  width: 9em;
  img {
    width: 5.1em;
  }
}
.nav-fourth img {
  width: 6.2em;
}
#outer-container {
  display: table;
  width: 100%;
  height: 100%;
}

#sidebar {
  display: table-cell;
  width: 15%;
  vertical-align: top;
}

#content {
  display: table-cell;
  width: 85%;
  vertical-align: top;
}

.placeholder-img {
  height: 9.5em;
  width: 100%;
}
