.filter-card {
  margin-bottom: 1.2em;
  .card-body {
    padding: 1em;
  }
  .row {
    margin-bottom: 1em;
  }
  select {
    margin-right: 1em;
  }
}

.carrier-card {
  .card-body {
    div.carrier-name {
      width: 90%;
      text-align: center;
      margin-bottom: 0.5em;
    }
    div.row:not(:first-child) {
      line-height: 1.5em;
      margin: 0;

      .col:first-child {
        width: 50%;
        text-align: right;
        margin-right: 0.1em;
      }
      .col:last-child {
        width: 50%;
        text-align: left;
        margin: 0;
        padding: 0;
      }
    }
  }
}