<div class="col-md-6 card px-0">
  <div class="card-header"><h3>Edit Organization</h3></div>
  <div class="card-body">
    <%= render 'form', organization: @organization %>

    <%= link_to 'Show', @organization %> |
    <%= link_to 'Back', organizations_path %>
  </div>
</div>
