<%
  placeholders = EmailTemplate::PLACEHOLDERS
%>
<a name="placeholders" />
<table class="email-placeholders">
  <thead>
    <th>Placeholder</th><th>Substituted With</th>
  </thead>
  <tbody>
    <% placeholders.each do |k, v| %>
      <tr>
        <td>
          <%= k %>
        </td>
        <td>
          <%= v %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
