<nav class="col-12 col-md-2 border-right border-secondary">
  <ul class="list-unstyled components mt-2">
    <li>
      <%= link_to "Organizations", organizations_path %>
    </li>
    <li>
      <%= link_to 'Categories', categories_path %>
    </li>
  </ul>
</nav>
<% if @version.present? %>
  <div class="version">
    <%= @version %>
  </div>
<% end %>
