<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<% server = Rails.application.config.short_server_name == 'prod' ? nil : Rails.application.config.short_server_name  %>
<% subdomain = ActsAsTenant.current_tenant.subdomain %>
<% host = [subdomain, server, 'babywearing.exchange'].reject(&:blank?).join('.') %>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, host: host) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
